@keyframes appear {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

a {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Pixel', sans-serif;
  border: none;
  color: #f3f3f3;
  font-size: 25px;
  padding: 5px 0;
  appearance:initial;
  text-decoration: none;
}

a:hover {
  color: #15ffb9;
  cursor: pointer;
  transform-origin: center center;
  transform: scale(1.1);
}

.scale-down-center {
	animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mainView {
  background-color: #141414;
  color: #f3f3f3;
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Pixel', sans-serif;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 17% 1000px auto;
}

.welcomeMessage {
  grid-column-start: 2;
  margin: 5% auto 0 auto;
  font-size: 50px
}

.quickLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 50px;
  height: fit-content;
  grid-column-start: 2;
  border: 2px solid #f3f3f3;
  margin: 30px auto;
}

button:hover {
  color: #15ffb9;
  cursor: pointer;
  transform: scale(1.1);
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  font-family: 'Pixel', sans-serif;
  color: #f3f3f3;
}

.aboutMe {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: grid;
  height: fit-content;
  -webkit-animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto 50px;
}

.projects {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  height: fit-content;
  -webkit-animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.media {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  height: fit-content;
  flex-direction: column;
  -webkit-animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: appear 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  width: 500px;
}

.projectsBye {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  height: fit-content;
  animation: scale-down-center 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.aboutMeBye {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: grid;
  height: fit-content;
  animation: scale-down-center 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto 50px;
}

.mediaBye {
  margin: 10% auto;
  background-color: #141414;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  height: fit-content;
  flex-direction: column;
  animation: scale-down-center 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

button {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Pixel', sans-serif;
  border: none;
  color: #f3f3f3;
  font-size: 25px;
  padding: 5px 0;
  appearance:initial;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.aboutMe button {
  margin: 0 1% 0 auto;
  width: fit-content;
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

.aboutMe h1 {
  margin-left: 1%;
  margin-top: 1%;
}

.aboutMe p {
  grid-column-start: 1;
  margin-left: 1%;
  font-size: 20px;
  font-family: sans-serif;
}

.aboutMe img {
  width: 300px;
  margin: 1% auto;
  padding: 0;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

#backButton {
  position: absolute;
  left: 2%;
  top: 2%;
}
